.wrapper{
  position: fixed;
  background: #222;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}

.logo-svg{
  position: relative;
  left:50%;
  top:50%;
  margin: -75px 0px 0px -75px;
  width: 150px;
  z-index: 1001;
}